.aside-menu .logo-home {
    display: flex;
    justify-content: center;
}

.aside-menu .topic {
    box-sizing: border-box;
    color: #fff;
    transition: background-color 0.4s, color 0.3s;
    margin: 10px 0;
}

.aside-menu .topic:hover {
    background-color: var(--secondary);
    color: var(--primary);
}

.aside-menu .topic a {
    color: #fff;
    display: block;
    width: 100%;
}

.aside-menu .topic a:hover {
    color: var(--primary);
    text-decoration: none;
}

.aside-menu .activated {
    background-color: var(--secondary);
    color: var(--primary);
}

.aside-menu .activated strong {
    color: var(--primary);
}

.aside-menu .topic i {
    display: inline-block;
    text-align: center;
    width: 20px;
    margin: 5px;
}

.aside-menu .topic .subtopics {
    padding: 15px;
}

.aside-menu .topic .subtopics .subtopic {
    margin: 5px;
    font-size: 14px;
    transition: color 0.4s;
}

.aside-menu .topic .subtopics .subtopic:hover {
    color: var(--primary);
}

.aside-menu .line {
    width: 100%;
}