.aside-menu .logo-home {
    display: flex;
    justify-content: center;
    width: 100%;
}

.aside-menu .logo-home a img {
    width: 100%;
}

.aside-menu .topic {
    box-sizing: border-box;
    color: #fff;
    transition: background-color 0.4s, color 0.3s;
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.aside-menu .topic:hover {
    background-color: var(--secondary);
    color: var(--primary);
}

.aside-menu .topic strong {
    color: #fff;
    display: block;
    padding: 5px;
    margin-left: 5px;
    width: 100%;
}

.aside-menu .topic a {
    width: 100%;
}

.aside-menu .topic a span {
    color: #fff;
}

.aside-menu .topic:hover strong,
.aside-menu .topic:hover a strong span {
    color: var(--primary);
    text-decoration: none;
}

.aside-menu .topic strong span,
.aside-menu .topic a strong span {
    margin-left: 10px;
    font-weight: bold;
}

.aside-menu .topic .fa-chevron-right,
.aside-menu .topic .fa-chevron-down {
    text-align: end;
}

.aside-menu .topic span {
    margin-left: 10px;
    font-weight: bold;
}

.aside-menu .subtopics {
    margin: -12px -7px;
    padding: 15px;
}

.aside-menu .subtopics .subtopic {
    margin: 5px;
    font-size: 14px;
}

.aside-menu .subtopics .subtopic strong {
    display: block;
    width: 100%;
    margin-right: 5px;
    transition: color 0.4s;
    color: black;
    padding: 5px;
}

.aside-menu .subtopics .subtopic strong:hover {
    color: var(--primary);
    background-color: var(--secondary);
}

.aside-menu .subtopics .subtopic strong span {
    margin-left: 5px;
}

.aside-menu .line {
    width: 100%;
}