* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', 'Gotu', sans-serif;
}


p,label {
    margin: 0;
}

:root {
    --primary: #273234;
    --secondary: #CC8566;
    --danger: #DC0909;
    --tertiary: #011F26;
    --success: #1cc88a;
    --info: #36b9cc;
    --warning: #f6c23e;
    --light-dark: #DCDCDC;
}

.bg-p {
    background-color: var(--primary) !important;
}

.bg-d {
    background-color: var(--danger) !important;
}

.bg-se {
    background-color: var(--secondary) !important;
}

.bg-su {
    background-color: var(--success) !important;
}

.bg-i {
    background-color: var(--info) !important;
}

.bg-w {
    background-color: var(--warning) !important;
}

.bg-g {
    background-color: var(--light-dark) !important;
}

.h-p:hover {
    background-color: var(--primary) !important;
}

.h-d:hover {
    background-color: var(--danger) !important;
}

.h-se:hover {
    background-color: var(--secondary) !important;
}

.h-su:hover {
    background-color: var(--success) !important;
}

.h-i:hover {
    background-color: var(--info) !important;
}

.h-w:hover {
    background-color: var(--warning) !important;
}

.h-g:hover {
    background-color: var(--light-dark) !important;
}

.text-p {
    color: var(--primary) !important;
}

.text-d {
    color: var(--danger) !important;
}

.text-se {
    color: var(--secondary) !important;
}

.text-su {
    color: var(--success) !important;
}

.text-i {
    color: var(--info) !important;
}

.text-w {
    color: var(--warning) !important;
}

.pointer:hover {
    cursor: pointer;
}

.activated {
    background-color: var(--secondary);
    color: var(--primary);
}

.activated strong, 
.activated span {
    color: var(--primary);
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    border: none;
}

a {
    color: #000;
}

a:hover {
    text-decoration: none;
    color: black;
}

.content-column {
    background-color: white;
    position: absolute;
    width: 70%;
    left: 15%;
    top: 50%;
    transform: translateY(-50%);
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.content {
    background-color: white;
    position: absolute;
    width: 70%;
    left: 15%;
    top: 50%;
    transform: translateY(-50%);
    padding: 80px;
    display: flex;
    align-items: center;
    border-radius: 20px;
}