* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', 'Gotu', sans-serif;
}

:root {
    --primary: #4e73df;
    --danger: #DC0909;
    --secondary: #FFD12F;
    --success: #1cc88a;
    --info: #36b9cc;
    --warning: #f6c23e;
    --light-dark: #DCDCDC;
}

.bg-p {
    background-color: var(--primary);
}

.bg-d {
    background-color: var(--danger);
}

.bg-se {
    background-color: var(--secondary);
}

.bg-su {
    background-color: var(--success);
}

.bg-i {
    background-color: var(--info);
}

.bg-w {
    background-color: var(--warning);
}

.bg-g {
    background-color: var(--light-dark);
}

.text-p {
    color: var(--primary);
}

.text-d {
    color: var(--danger);
}

.text-se {
    color: var(--secondary);
}

.text-su {
    color: var(--success);
}

.text-i {
    color: var(--info);
}

.text-w {
    color: var(--warning);
}

.pointer:hover {
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    border: none;
}

a {
    color: #000;
}

a:hover {
    text-decoration: none;
    color: black;
}

.content-column {
    background-color: white;
    position: absolute;
    width: 70%;
    left: 15%;
    top: 50%;
    transform: translateY(-50%);
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.content {
    background-color: white;
    position: absolute;
    width: 70%;
    left: 15%;
    top: 50%;
    transform: translateY(-50%);
    padding: 80px;
    display: flex;
    align-items: center;
    border-radius: 20px;
}