.search {
    max-width: 224px;
}

.search button {
    background-color: var(--primary);
    color: white;
}

.search button:hover {
    background-color: var(--secondary);
    color: var(--primary);
}