.content-column {
    transition: background-color 0.8s, border-radius 0.6s;
}

.content-column:hover {
    background-color: var(--light-dark);
    border-radius: 40px;
}

.content-column .title-content h1 {
    font-size: 2rem;
    text-align: center;
    margin: 0 0 50px 0;
}

.content-column .cards-users {
    display: flex;
    text-align: center;
}

.content-column .cards-users .card-user {
    width: 300px;
    border-radius: 20px;
    padding: 20px;
    margin: 20px 40px;
    cursor: pointer;
    text-decoration:none;
    transition: transform 0.6s, background-color 0.5s, box-shadow 0.6s;
}

.content-column .cards-users .card-user:hover {
    background-color: #F3E2A9;
    transform: translateY(-20px);
    box-shadow: 5px 5px var(--primary);
}

.content-column .cards-users .card-user i {
    font-size: 3rem;
}