.wrap {
    display: grid;
    grid-template-columns: 13% 87%;
    grid-template-rows: 62px 150px;
    grid-template-areas: 
    "aside-menu menu-top"
    "aside-menu content"
    ;
}

.aside-menu {
    grid-area: aside-menu;
    min-height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.aside-menu .line {
    width: 100%;
}

.nav-bar {
    grid-area: menu-top;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
}

.content-dashboard {
    grid-area: content;
}