{% extends "client/common/base.html" %}

{% load static %}

{% block title %} Dashboard {% endblock  %}

{% block link_css %}
    <link rel="stylesheet" href="{% static 'style/common/card.css' %}">
    <link rel="stylesheet" href="{% static 'style/client/common/rooms.css' %}">
{% endblock %}

{% block content %}

        <ul class="aside-menu">
            <div class="logo-home">
                <a href="{% url 'dashboard' %}"><img src="{% static 'images/icon-dashboard.png' %}" alt="home"></a>
            </div>
            
            <hr class="line">
            
            <li class="topic pointer"><i class="fas fa-user-tie"></i></i>Perfil</li>

            <hr class="line">

            <li class="topic pointer" data-toggle="collapse" data-target="#room" aria-controls="room" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-person-booth"></i>
                <span class="text-center">Salas</span>
                <i class="fas fa-chevron-right float-right"></i>
                <ul class="collapse dropdown bg-white text-dark subtopics" id="room">
                    <li class="subtopic"><i class="fas fa-list-ul"></i><span class="text-center">Todas</span></li>
                    <li class="subtopic"><i class="fas fa-calendar-alt"></i><span class="text-center">Histórico de salas</span></li>
                    <li class="subtopic"><i class="fas fa-check-square"></i><span class="text-center">Reservadas</span></li>
                </ul>
            </li>

            <hr class="line">

            <li class="topic pointer"><i class="fas fa-door-open"></i>Check-in</li>
            <li class="topic pointer"><i class="fas fa-door-closed"></i>Check-out</li>
            <li class="topic pointer"><i class="fas fa-info"></i>Reclamações</li>

            <hr class="line">


        </ul>

        <nav class="nav-bar">

            <div class="search-bar">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Digite o nome de uma sala" aria-label="Example text with button addon" aria-describedby="button-addon1">
                    <div class="input-group-append">
                        <button class="btn" type="button" id="button-addon1"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>

            <div class="sistem-notification">
                <i class="fas fa-bell pointer"><span class="text-white bg-danger">2</span></i>
            </div>

            <div class="admin-notification">
                <i class="fas fa-envelope pointer"><span class="text-white bg-danger">122</span></i>
            </div>

            <span class="bar"></span>

            <h1 class="user-name">Fulano de tal</h1>

            <img src="{% static 'images/user.png' %}" alt="photo-perfil">

        </nav>

        <main class="content-dashboard p-5">

            <div class="card mt-4 p-5">
            
                <h1 class="card-title" >Salas</h1>

                <div class="card-legend">

                    <div class="time bg-su"></div>
                    <div class="time bg-d"></div>
                    <div class="time bg-i"></div>
                    <div class="time bg-w"></div>

                </div>

                <div class="card-rooms">
                
                    <div class="room card border-left-success">
                        
                        <h1 class="room-name">Nome da sala</h1>

                        <div class="content-hours">
                            <div class="hour morning bg-su"><strong>8</strong></div>
                            <div class="hour morning bg-su"><strong>9</strong></div>
                            <div class="hour morning bg-su"><strong>10</strong></div>
                            <div class="hour morning bg-su"><strong>11</strong></div>
                            <div class="hour morning bg-su"><strong>12</strong></div>
                            
                            <div class="hour bg-w"><strong>//</strong></div>

                            <div class="hour afternoon bg-su"><strong>14</strong></div>
                            <div class="hour afternoon bg-su"><strong>15</strong></div>
                            <div class="hour afternoon bg-su"><strong>16</strong></div>
                            <div class="hour afternoon bg-su"><strong>17</strong></div>
                            <div class="hour afternoon bg-su"><strong>18</strong></div>
                        </div>

                    </div>

                    <div class="room card border-left-warning">
                        
                        <h1 class="room-name">Nome da sala</h1>

                        <div class="content-hours">
                            <div class="hour morning bg-su"><strong>8</strong></div>
                            <div class="hour morning bg-su"><strong>9</strong></div>
                            <div class="hour morning bg-d"><strong>10</strong></div>
                            <div class="hour morning bg-su"><strong>11</strong></div>
                            <div class="hour morning bg-d"><strong>12</strong></div>
                            
                            <div class="hour bg-w"><strong>//</strong></div>

                            <div class="hour afternoon bg-su"><strong>14</strong></div>
                            <div class="hour afternoon bg-su"><strong>15</strong></div>
                            <div class="hour afternoon bg-info"><strong>16</strong></div>
                            <div class="hour afternoon bg-su"><strong>17</strong></div>
                            <div class="hour afternoon bg-su"><strong>18</strong></div>
                        </div>

                    </div>
                    
                    <div class="room card border-left-success">
                        
                        <h1 class="room-name">Nome da sala</h1>

                        <div class="content-hours">
                            <div class="hour morning bg-su"><strong>8</strong></div>
                            <div class="hour morning bg-su"><strong>9</strong></div>
                            <div class="hour morning bg-su"><strong>10</strong></div>
                            <div class="hour morning bg-su"><strong>11</strong></div>
                            <div class="hour morning bg-su"><strong>12</strong></div>
                            
                            <div class="hour bg-w"><strong>//</strong></div>

                            <div class="hour afternoon bg-su"><strong>14</strong></div>
                            <div class="hour afternoon bg-su"><strong>15</strong></div>
                            <div class="hour afternoon bg-su"><strong>16</strong></div>
                            <div class="hour afternoon bg-su"><strong>17</strong></div>
                            <div class="hour afternoon bg-su"><strong>18</strong></div>
                        </div>

                    </div>

                    <div class="room card border-left-danger">
                        
                        <h1 class="room-name">Nome da sala</h1>

                        <div class="content-hours">
                            <div class="hour morning bg-d"><strong>8</strong></div>
                            <div class="hour morning bg-d"><strong>9</strong></div>
                            <div class="hour morning bg-d"><strong>10</strong></div>
                            <div class="hour morning bg-d"><strong>11</strong></div>
                            <div class="hour morning bg-d"><strong>12</strong></div>
                            
                            <div class="hour bg-w"><strong>//</strong></div>

                            <div class="hour afternoon bg-d"><strong>14</strong></div>
                            <div class="hour afternoon bg-d"><strong>15</strong></div>
                            <div class="hour afternoon bg-d"><strong>16</strong></div>
                            <div class="hour afternoon bg-d"><strong>17</strong></div>
                            <div class="hour afternoon bg-d"><strong>18</strong></div>
                        </div>

                    </div>
                    
                    <div class="room card border-left-warning">
                        
                        <h1 class="room-name">Nome da sala</h1>

                        <div class="content-hours">
                            <div class="hour morning bg-su"><strong>8</strong></div>
                            <div class="hour morning bg-su"><strong>9</strong></div>
                            <div class="hour morning bg-i"><strong>10</strong></div>
                            <div class="hour morning bg-su"><strong>11</strong></div>
                            <div class="hour morning bg-su"><strong>12</strong></div>
                            
                            <div class="hour bg-w"><strong>//</strong></div>

                            <div class="hour afternoon bg-su"><strong>14</strong></div>
                            <div class="hour afternoon bg-su"><strong>15</strong></div>
                            <div class="hour afternoon bg-su"><strong>16</strong></div>
                            <div class="hour afternoon bg-su"><strong>17</strong></div>
                            <div class="hour afternoon bg-su"><strong>18</strong></div>
                        </div>

                    </div>

                    <div class="room card border-left-danger">
                        
                        <h1 class="room-name">Nome da sala</h1>

                        <div class="content-hours">
                            <div class="hour morning bg-d"><strong>8</strong></div>
                            <div class="hour morning bg-d"><strong>9</strong></div>
                            <div class="hour morning bg-d"><strong>10</strong></div>
                            <div class="hour morning bg-i"><strong>11</strong></div>
                            <div class="hour morning bg-i"><strong>12</strong></div>
                            
                            <div class="hour bg-w"><strong>//</strong></div>

                            <div class="hour afternoon bg-d"><strong>14</strong></div>
                            <div class="hour afternoon bg-d"><strong>15</strong></div>
                            <div class="hour afternoon bg-d"><strong>16</strong></div>
                            <div class="hour afternoon bg-d"><strong>17</strong></div>
                            <div class="hour afternoon bg-d"><strong>18</strong></div>
                        </div>

                    </div>
                    
                </div>

               
            
            </div>

        </main>
    
{% endblock  %}