{% extends "client/common/base.html" %}

{% load static %}

{% block title %} Dashboard {% endblock  %}
{% block link_href %} {% static 'style/client/index.css' %} {% endblock %}

{% block content %}

    <div class="wrap">

        <ul class="bg-primary aside-menu">
            <a href="{% url 'dashboard' %}"><img src="{% static 'images/icon-dashboard.png' %}" alt="home"></a>
            <hr class="line">
            <li>Salas</li>
                <ul>
                    <li>Todas</li>
                    <li>Histórico de reservas</li>
                    <li>Reservadas</li>
                </ul>
            <li>Check-in</li>
            <li>Check-out</li>
            <li>Reclamações</li>
        </ul>

        <nav class="nav-bar">

        </nav>

        <main class="content-dashboard">
        

        
        </main>

    </div>
    
{% endblock  %}