{% extends "client/common/base.html" %}

{% load static %}

{% block title %} Dashboard {% endblock  %}

{% block link_css %}
    <link rel="stylesheet" href="{% static 'style/common/card.css' %}">
    <link rel="stylesheet" href="{% static 'style/common/search-field.css' %}">
    <link rel="stylesheet" href="{% static 'style/client/rooms.css' %}">
    <link rel="stylesheet" href="{% static 'style/client/room.css' %}">
    <link rel="stylesheet" href="{% static 'style/client/check.css' %}">
    <link rel="stylesheet" href="{% static 'style/client/booking.css' %}">
    <link rel="stylesheet" href="{% static 'style/client/profile.css' %}">
{% endblock %}

{% block content %}

        <ul class="aside-menu">
            
            {% include "client/components/aside-bar.html" with home=True %}

        </ul>

        <nav class="top-bar">

            {% include "client/components/top-bar.html" %}

        </nav>

        <main class="content-dashboard p-5">

            {% if message %}
                <div class="container container-alert">
                    <div class="row">
                        <div class="offset-5">
                            <div class="alert alert-success alert-success-booking" role="alert">
                                {{ message }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div id="title-dashboard" class="w-100">

                <h1><strong class="text-p">Dash</strong><strong class="text-se">board</strong></h1>
        
            </div>

            {% include "client/components/rooms.html" %}
            
            {% include "client/components/check.html" with kind='in' route="check-in" title='Check-in'%}

            {% include "client/components/check.html" with kind='out' route="check-out" title='Check-out' %}
            
            {% include "client/components/booking.html" with kind='past' route="last_booking" title='Reservas passadas' %}

            {% include "client/components/booking.html" with kind='current' route="current_booking" title='Reservas atuais' %}

            {% include "client/components/booking.html" with kind='warning' route="pending_booking" title='Reservas pendentes' %}

            {% include "client/pages/profile/index.html" with name='Fulano de tal' username="Usuário de Fulano" sex="M"  birthday='02/05/1991' role="diretor" cep="00000-00" UF="RN" city="Natal" neighborhood="Candelária" num="12" %}

            {% include "client/pages/config/index.html" %}

        </main>

        {% if modal %}

            <div id="modal">

                <div class="context">

                    <div class="close-modal pointer" onclick="closeModal()"><i class="fas fa-times-circle"></i></div>
                    
                    <div class="card">

                        {% if modal == "room" %}

                            {% include "client/pages/booking/index.html" with room_name="Nome da sala" cap="x" obs="Sala com problemas no arcondicionado" issue="true" st1='g' st2='g' st3='su' st4='g' st5='su' st6='su' st7='g' st8='su' st9='g' st10='su' %}

                        {% elif modal == "last_booking" %}

                            {% include "client/pages/last_booking/index.html" with room_name="Nome da sala" cap="x" obs="Sala com problemas no arcondicionado" issue="true" st1='g' st2='g' st3='su' st4='g' st5='su' st6='su' st7='g' st8='su' st9='g' st10='su' %}

                        {% elif modal == "current_booking" %}

                            {% include "client/pages/current_booking/index.html" with room_name="Nome da sala" cap="x" obs="Sala com problemas no arcondicionado" issue="true" st1='g' st2='g' st3='su' st4='g' st5='su' st6='su' st7='g' st8='su' st9='g' st10='su' %}

                        {% elif modal == "pending_booking" %}

                            {% include "client/pages/pending_booking/index.html" with room_name="Nome da sala" cap="x" obs="Sala com problemas no arcondicionado" issue="true" st1='g' st2='g' st3='su' st4='g' st5='su' st6='su' st7='g' st8='su' st9='g' st10='su' %}

                        {% endif %}

                    </div>

                </div>

            </div>

        {% endif %}
    
{% endblock  %}