{% extends "client/common/base.html" %}

{% load static %}

{% block title %} Dashboard {% endblock  %}

{% block link_css %}
    <link rel="stylesheet" href="{% static 'style/common/card.css' %}">
    <link rel="stylesheet" href="{% static 'style/client/room.css' %}">
{% endblock %}

{% block content %}

        <ul class="aside-menu">
            
            {% include "client/components/aside-bar.html" %}

        </ul>

        <nav class="top-bar">

            {% include "client/components/top-bar.html" %}

        </nav>

        <main class="content-dashboard p-5">

            <div class="container card">

                {% include "client/pages/booking/dashboard-content.html" with room_name="Nome da sala" cap="x" obs="Sala com problemas no arcondicionado" st1='g' st2='g' st3='su' st4='g' st5='su' st6='su' st7='g' st8='su' st9='g' st10='su' %}

            </div>

        </main>
    
{% endblock  %}


{% block scripts_js %}
        <script src="{% static 'js/client/animations/choose-time.js' %}"></script>
{% endblock  %}
