{% load static %}

<div class="logo-home">
    <a href="{% url 'dashboard' %}"><img src="{% static 'images/dashboard-logo.png' %}" alt="home"></a>
</div>

<hr class="line">

<li class="topic pointer {% if home %} activated {% endif %}">
    <a href="{% url 'dashboard' %}">
        <strong class="fas fa-home"></strong>
        <span class="text-center">Home</span>
    </a>
</li>

<hr class="line">

<li class="topic pointer {% if perfil %} activated {% endif %}">
    <a href="{% url 'dashboard' %}">
        <strong class="fas fa-user-tie"></strong>
        <span class="text-center">Perfil</span>
    </a>
</li>

<hr class="line">

<li class="topic pointer" data-toggle="collapse" onclick="toogleIcon(this)" data-target="#room" aria-controls="room" aria-expanded="false" aria-label="Toggle navigation">
    <strong class="fas fa-person-booth"></strong>
    <span class="text-center">Salas</span>
    <strong class="fas fa-chevron-right"></strong>
</li>

<li class="subtopics">
    <ul class="collapse dropdown bg-white text-dark subtopics" id="room">
        <li class="subtopic"><a href="{% url 'rooms' %}"><strong class="fas fa-list-ul"></i><span class="text-center">Todas</span></strong></a></li>
        <li class="subtopic"><a href="{% url 'rooms' %}"><strong class="fas fa-calendar-alt"></i><span class="text-center">Histórico de salas</span></strong></a></li>
        <li class="subtopic"><a href="{% url 'rooms' %}"><strong class="fas fa-check-square"></i><span class="text-center">Reservadas</span></strong></a></li>
    </ul>
</li>

<hr class="line">

<li class="topic pointer {% if Check_in %} activated {% endif %}">
    <a href="{% url 'dashboard' %}">
        <strong class="fas fa-door-open"></strong>
        <span class="text-center">Check-in</span>
    </a>
</li>

<li class="topic pointer {% if Check_out %} activated {% endif %}">
    <a href="{% url 'dashboard' %}">
        <strong class="fas fa-door-closed"></strong>
        <span class="text-center">Check-out</span>
    </a>
</li>

<li class="topic pointer {% if issues %} activated {% endif %}">
    <a href="{% url 'dashboard' %}">
        <strong class="fas fa-info ml-2"></strong>
        <span class="text-center">Reclamações</span>
    </a>
</li>

<li class="topic pointer">
    <a href="{% url 'client_logout' %}" class="text-danger">
        <strong class="fas fa-sign-out-alt"></strong>
        <span class="text-center">Sair</span>
    </a>
</li>

<hr class="line">