{% load static %}

<div class="logo-home">
    <a href="{% url 'dashboard' %}"><img src="{% static 'images/dashboard-logo.png' %}" alt="home"></a>
</div>

<hr class="line">

<li class="topic pointer"><strong>
<i class="fas fa-user-tie"></i></i>Perfil</strong></li>

<hr class="line">

<li class="topic pointer" data-toggle="collapse" data-target="#room" aria-controls="room" aria-expanded="false" aria-label="Toggle navigation">
    <strong><i class="fas fa-person-booth"></i>
    <span class="text-center">Salas</span></strong>
    <i class="fas fa-chevron-right float-right"></i>
    <ul class="collapse dropdown bg-white text-dark subtopics" id="room">
        <li class="subtopic"><strong><i class="fas fa-list-ul"></i><span class="text-center">Todas</span></strong></li>
        <li class="subtopic"><strong><i class="fas fa-calendar-alt"></i><span class="text-center">Histórico de salas</span></strong></li>
        <li class="subtopic"><strong><i class="fas fa-check-square"></i><span class="text-center">Reservadas</span></strong></li>
    </ul>
</li>

<hr class="line">

<li class="topic pointer"><strong><i class="fas fa-door-open"></i>Check-in</strong></li>
<li class="topic pointer"><strong><i class="fas fa-door-closed"></i>Check-out</strong></li>
<li class="topic pointer"><strong><i class="fas fa-info"></i>Reclamações</strong></li>
<li class="topic pointer"><a href="{% url 'client_logout' %}" class="text-danger"><strong><i class="fas fa-sign-out-alt"></i>Sair</strong></a></li>

<hr class="line">