<a class="room pointer card border-left-{{type}}" href="{% url 'room' %}">
            
    <h1 class="room-name"><strong>{{name}}</strong></h1>

    {% if info %}

    <hr>

    <p class="room-info room-cap">capacidade: {{cap}}</p>
    <p class="room-info room-obs">observações: {{obs}}</p>
        <ol>
            <p class="room-info room-equips">equipamentos:</p>
        
            <li class="room-info room-item">Data show</li>
            <li class="room-info room-item">Mesa para 4 pessoas</li>
            <li class="room-info room-item">Impressora</li>
            <li class="room-info room-item">Ar condicionado</li>
        
        </ol>

    <hr>

    {% endif %}

    {% if readonly %}

        <p class="room-info room-date">dd/mm/aaaa</p>

    {% endif %}

    <div class="content-hours">
        <div class="hour morning bg-{{st1}}"><strong>8</strong></div>
        <div class="hour morning bg-{{st2}}"><strong>9</strong></div>
        <div class="hour morning bg-{{st3}}"><strong>10</strong></div>
        <div class="hour morning bg-{{st4}}"><strong>11</strong></div>
        <div class="hour morning bg-{{st5}}"><strong>12</strong></div>
        
        <div class="hour bg-w"><strong>//</strong></div>

        <div class="hour afternoon bg-{{st6}}"><strong>14</strong></div>
        <div class="hour afternoon bg-{{st7}}"><strong>15</strong></div>
        <div class="hour afternoon bg-{{st8}}"><strong>16</strong></div>
        <div class="hour afternoon bg-{{st9}}"><strong>17</strong></div>
        <div class="hour afternoon bg-{{st10}}"><strong>18</strong></div>
    </div>

</a>