<div class="room card border-left-success">
            
    <h1 class="room-name">{{name}}</h1>

    <hr>

    <p class="room-info room-cap">capacidade: {{cap}}</p>
    <p class="room-info room-obs">observações: {{obs}}</p>
        <ol>
            <p class="room-info room-equips">equipamentos:</p>
        
            <li class="room-info room-item">Data show</li>
            <li class="room-info room-item">Mesa para 4 pessoas</li>
            <li class="room-info room-item">Impressora</li>
            <li class="room-info room-item">Ar condicionado</li>
        
        </ol>

    <hr>

    <p class="room-info room-availability">Disponibilidades</p>

    <div class="content-hours">
        <div class="hour morning bg-su"><strong>8</strong></div>
        <div class="hour morning bg-su"><strong>9</strong></div>
        <div class="hour morning bg-su"><strong>10</strong></div>
        <div class="hour morning bg-su"><strong>11</strong></div>
        <div class="hour morning bg-su"><strong>12</strong></div>
        
        <div class="hour bg-w"><strong>//</strong></div>

        <div class="hour afternoon bg-su"><strong>14</strong></div>
        <div class="hour afternoon bg-su"><strong>15</strong></div>
        <div class="hour afternoon bg-su"><strong>16</strong></div>
        <div class="hour afternoon bg-su"><strong>17</strong></div>
        <div class="hour afternoon bg-su"><strong>18</strong></div>
    </div>

</div>