<div class="card content-rooms">

    <div class="card-info">
    
        <h1 class="card-title"><strong class="text-p">Salas</strong></h1>

        {% include "client/components/search-field.html" with kind="room" type="text" placeholder="Nome da sala" label="room name" %}

        {% include "client/components/search-field.html" with kind="date" type="date" label="date" %}

        <div class="card-legend">

            <div class="time mt-1 bg-su"></div><span>Livre</span>
            <div class="time mt-1 bg-d"></div><span>Reservada</span>
            <div class="time mt-1 bg-i"></div><span>em uso</span>
            <div class="time mt-1 bg-w"></div><span>intervalo</span>

        </div>

    </div>

    <div class="card-rooms">
    
        {% include "client/components/room.html" with route="room" name="Nome da sala" type='success' cap="x" obs="'OBS'" info=True st1='su' st2='su' st3='su' st4='su' st5='su' st6='su' st7='su' st8='su' st9='su' st10='su' %} 

        {% include "client/components/room.html" with route="room" name="Nome da sala" type='warning' cap="x" obs="'OBS'" info=True st1='su' st2='su' st3='su' st4='su' st5='d' st6='d' st7='su' st8='su' st9='su' st10='su' %} 

        {% include "client/components/room.html" with route="room" name="Nome da sala" type='warning' cap="x" obs="'OBS'" info=True st1='su' st2='su' st3='su' st4='su' st5='su' st6='i' st7='i' st8='su' st9='su' st10='su' %} 
        
        {% include "client/components/room.html" with route="room" name="Nome da sala" type='warning' cap="x" obs="'OBS'" info=True st1='su' st2='su' st3='su' st4='su' st5='su' st6='d' st7='i' st8='su' st9='su' st10='su' %} 
        
        {% include "client/components/room.html" with route="room" name="Nome da sala" type='danger' cap="x" obs="'OBS'" info=True st1='d' st2='d' st3='d' st4='d' st5='d' st6='d' st7='d' st8='d' st9='d' st10='d' %} 
        
        {% include "client/components/room.html" with route="room" name="Nome da sala" type='danger' cap="x" obs="'OBS'" info=True st1='d' st2='d' st3='d' st4='d' st5='d' st6='d' st7='i' st8='d' st9='d' st10='d' %} 
        
    </div>

</div>