{% load static %}

<div class="search-bar">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Digite o nome de uma sala" aria-label="Filtro de sala" aria-describedby="search-room">
        <div class="input-group-append">
            <button class="btn" type="button" id="search-room"><i class="fas fa-search"></i></button>
        </div>
    </div>
</div>

<div class="sistem-notification">
    <i class="fas fa-bell pointer"><span class="text-white bg-danger">2</span></i>
</div>

<div class="admin-notification">
    <i class="fas fa-envelope pointer"><span class="text-white bg-danger">122</span></i>
</div>

<span class="bar"></span>

<h1 class="user-name">Fulano de tal</h1>

<img src="{% static 'images/user.png' %}" alt="photo-perfil">