{% load static %}

<div class="container" id="card-profile">

    <div class="row">
        <div class="col-12">
            <div class="img-avatar pointer" onclick="avatarFile(this)">
                <img class="img-profile" id="image" src="{% static 'images/user.png' %}" alt="">
                <i class="fas fa-camera"></i>
            </div>
        </div>
    </div>

    <div class="inputs">

        <div class="form-group d-none">
            <input type="file" class="form-control-file" id="avatar">
        </div>

        <div class="form-row">
            <div class="col-lg-6">
                <label for="name">Nome Completo</label>
                <input type="text" class="form-control" id="name" value="{{ name }}">
            </div>

            <div class="col-lg-6">
                <label for="username">Usuário</label>
                <input type="text" class="form-control" id="username" value="{{ username }}">
            </div>
        </div>

        <div class="form-row">

            <div class="col-lg-3">

                <div class="input-radios">

                    <input class="form-check-input" type="radio" name="sex" id="m" value="option1" {% if sex == 'M'%} checked {% endif %}>
                    <label class="form-check-label" for="m">
                        Masculino
                    </label>
                    <input class="form-check-input" type="radio" name="sex" id="f" value="option1" {% if sex == 'F'%} checked {% endif %}>
                    <label class="form-check-label" for="f">
                        Feminino
                    </label>

                </div>
                <label>Sexo</label>
                <div class="input-buttons">

                    <p class="btn btn-m bg-d" onclick="radioBind(this)">M</p>
                    <p class="btn btn-f bg-d" onclick="radioBind(this)">F</p>
                    
                </div>
            </div>
            <div class="col-lg-6">

                <label for="birthday">Data de nascimento</label>
                <input type="date" class="form-control" id="birthday" value="{{ birthday }}">

            </div>

            <div class="col-lg-3">

                <label for="role">cargo</label>
                <input type="text" readonly class="form-control" id="role" value="{{ role }}">

            </div>
        </div>

        <hr>

        <div class="form-row">

            <div class="col-lg-3">

                <label for="cep">CEP</label>
                <input type="text" class="form-control" id="cep" value="{{ cep }}">

            </div>
            <div class="col-lg-2">

                <label for="UF">UF</label>
                <input type="text" class="form-control" id="UF" value="{{ UF }}">

            </div>
            <div class="col-lg-2">

                <label for="city">Cidade</label>
                <input type="text" class="form-control" id="city" value="{{ city }}">

            </div>
            <div class="col-lg-5">

                <label for="neighborhood">Bairro</label>
                <input type="text" class="form-control" id="neighborhood" value="{{ neighborhood }}">

            </div>
        </div>

        <div class="form-row">

            <div class="col-lg-2">

                <label for="num">Número</label>
                <input type="text" class="form-control" id="num" value="{{ num }}">

            </div>
            <div class="col-lg-5">

                <label for="reference">Ponto de Referência</label>
                <input type="text" class="form-control" id="reference" value="{{ reference }}">

            </div>
            <div class="col-lg-5">

                <label for="complement">Complemento</label>
                <input type="text" class="form-control" id="complement" value="{{ complement }}">

            </div>
        </div>

    <hr>

        <div class="form-row">

            <div class="col-lg-3">

                <button type="submit" class="btn bg-p h-su text-white">Salvar</button>

            </div>
            
        </div>
    </div>
</div>