{% extends "client/common/base.html" %}

{% load static %}

{% block title %} Dashboard {% endblock  %}

{% block link_css %}
    <link rel="stylesheet" href="{% static 'style/common/card.css' %}">
    <link rel="stylesheet" href="{% static 'style/client/room.css' %}">
{% endblock %}

{% block content %}

        <ul class="aside-menu">
            
            {% include "client/components/aside-bar.html" %}

        </ul>

        <nav class="top-bar">

            {% include "client/components/top-bar.html" %}

        </nav>

        <main class="content-dashboard p-5">

            <div id="title-dashboard" class="w-100">

                <h1><strong class="text-p">Per</strong><strong class="text-se">fil</strong></h1>
            
            </div>

            <div class="container">

                <form action="" class="card">

                    {% include "client/pages/profile/dashboard-content.html" %}

                </form>

            </div>

        </main>
    
{% endblock  %}


{% block scripts_js %}

{% endblock  %}
